{% extends 'base.html.twig' %}
{% block body %}
    <h1>Account products</h1>
    <p><a href="{{ path('account.product.new') }}">Добавить товар</a></p>
    {% for product in pagination %}
        <p>{{ product.id }}  {{ product.name }}</p>
    {% endfor %}
{% endblock %}